<html>
<head>
    <title>Ensou 🎶</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="header">
        <div class="logo">LOGO</div>
        <div class="nav">
            <a style="color:white;" href="/home">Home</a>
            <a>About</a>
            <button class="login-pop">Login</button>
        </div>
    </div>
    <div class="box">
        <span class="close">
            <ion-icon name="close-circle"></ion-icon>
        </span>
        <div class="form-login">
            <h2>Login</h2>
            <form action="/login" method="POST">
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password"  name="password" required>
                    <label>Password</label>
                </div>
                <div class="forgot">
                    <label><input type="checkbox">Remember Me</label>
                    <a href="">Forgot Paaword?</a>
                </div>
                <button type="submit" class="sub">Submit</button>
                <div class="register">
                    <p>Don't have an account?<a href="#" class="register-link">Register</a></p>
                </div>
            </form>
        </div>
        <div class="form-register">
            <h2>Register</h2>
            <form action="/register" method="post">
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="person-circle-outline"></ion-icon>
                    </span>
                    <input type="text" name="username" required>
                    <label>Username</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                <button type="submit" class="sub">Submit</button>
            </form>
        </div>
    </div>
    <div class="player">
        <form action="/sr" method="post" class="search">
            <input type="text" name="song_name">
            <button type="submit" class="btnsrch"><ion-icon name="search"></ion-icon></button>
        </form>
        
    </div>
    <script src="/static/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>